/* Importing Fonts */

/*PlayFair Display Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*
Main CSS 
*/

#navbar{
    position: absolute;
    z-index: 1;
    font-family: Roboto;
    font-weight: bolder;
    justify-content: center;
    width: 100%;
    background-color: #0000 !important;
}

.nav-logo{
  padding: 1rem;
}

.navbar-brand{
  padding: 4rem;
  
}

.navbar-brand > img{
    width: 50px;
    height: auto;
}

.navbar-brand > .logo-name{
    color: #07c8c0;
    font-weight: 100;
    font-size: 30px;
}

.nav{
    display: flex;
    position: relative;
    width: 45rem;
}

.nav-link{
    color: white;
    text-transform: uppercase;
    padding: 15px;
}

.navbar .nav-link.active{
    color: #07c8c0;
}


/* Banner Body */
#banner{
    background-image: url('Assets/banner-background-image.png');
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    background-color: #302951;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    position: relative;
}


#banner > .container > .row > .col-12 > h1{
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
    margin-top: 10rem;
}

#banner > .container > .row > .col-12 > .under-dash{
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    margin: auto;
    padding: 30px;

}

#banner > .container > .row > .col-12 > p{
    color: #fff;
    font-size: 16.5px;
    padding: 0rem 15rem ;
}

.btn-outline-primary {
   border-color: #07c8c0;
   color: #07c8c0;
   font-weight: bold;
   margin-top: 50px;
   font-size: 20px;
   padding: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  border: solid 2px #bbbabc;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10rem;
}

.dot.active{
  background-color: #07c8c0;
  border: #0000;

}

/*About Section CSS*/
#about {
    margin-top: 5rem;
}

.about{
    margin-bottom: 2rem;
}

.about-logo{
    width: 20rem;
    margin-left: 5rem;
}

.about-title{
    font-family: "Playfair Display", serif;
}

.about-content{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
}

#play-button{
    background-image: url('/Assets/banner-city-background-image.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #302951;
    background-blend-mode: overlay;
    padding: 10rem;
}

.play-button-icon{
    width: 15%;
    height: auto;
    margin: auto;
    color: #fff;
    padding: 10px;
}

.play-button-text{
    font-family: Roboto;
    color: #fff;
    font-size: 30px;
    padding: 20px;
}



/*Expertise Section CSS */
#expertise{
    padding: 5rem;
}

.expertise-title{
    font-family: "Playfair Display", serif;
}

.expertise-description{
    font-family: "Playfair Display", serif;
    margin-bottom: 3rem;
}

.content > .row > .col-4{
    padding: 0%;
}

.left > .top-card > .card{
    border-top: #000;
    border-left: #000;
}

.left > .bottom-card > .card{
    border-bottom: #000;
    border-left: #000;
}

.center > .top-card > .card {
    border-top: #0000;
}

.center > .bottom-card > .card {
    border-bottom: #0000;
}


.right > .top-card > .card {
    border-top: #0000;
    border-right: #000;
}

.right > .bottom-card > .card {
    border-bottom: #0000;
    border-right: #000;
}

.card{
    border-radius: 0%;
    height: 15rem;
}

.card > .image-container{
    margin-top: 2rem;
   height: 1rem;
   padding: rem;
   width: auto;
}

.card > .image-container > img{
   height: 3rem;
   width: auto;
}

.card > .card-body{
    padding: 4rem;

}
.card > .card-body > .card-title{
    font-weight: bold;
    font-family: Roboto;
}

.card > .card-body > .card-text{
    color: #333333;
    font-weight: 300;
    font-family: Roboto;
}





/* Team Section CSS */
#team{
    background-image: url('/Assets/banner-team-background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-color: #302951;
    background-blend-mode: overlay;
}

.team{
    padding: 10rem;
}

.team > .team-title{
    font-family: "Playfair Display", serif;
    color: #fff;
}

.team > .card-group{
    width: 60rem;
}

.team > .card-group > .card{
    background-color: #0000 !important;
    margin-left: 1rem;
    height: 22rem;
    max-height: 25rem;
    width: 10rem;
    border: solid 1px #fff ;
    border-radius: 0%;
}
.team > .card-group > .card > .team-picture{
    background-color: #f5f4f6;
    height: 15rem;
    border-color: #fff;
}

.team > .team-description{
    font-family: "Playfair Display", serif;
    color: #fff;
}


.team > .card-group > .card > .card-body{
    height: 1rem;
    padding: 1rem;
}

.team > .card-group > .card > .card-body > .team-member-name{
    font-family: Roboto;
    font-weight: 900;
    font-size: 25px;
    color: #fff;
}

.team > .card-group > .card > .card-body > .team-member-position{
    font-family: Roboto;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
}

.team > .join{
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  margin-top: 3rem;
}


.team > .team-btn {
  padding: 0%;
}

.team > .btn{
  padding: 1rem;
}


/* Works Section CSS */
#works{
    margin-top: 5rem;
}

.works-title{
    font-family: "Playfair Display", serif;
    font: 25px;
    padding: 2rem;
}

.all-works-title{
    font-family: Roboto;
    font-weight: 100;
    font-size: 25px;
    padding: 2rem;
    text-align: right;
}

.works-content > .row > .col-3{
    padding: 0%;
 
}

.works-content > .row > .col-3 > .left-side > .top > .card{
    background-color: #acacac;
    --bs-card-border-width: 0;
    
}

.works-content > .row > .col-3 > .left-side > .bottom > .card{
    background-color: #b6b6b6;
    --bs-card-border-width: 0;


}
.works-content > .row > .col-3 > .left > .top > .card{
    background-color: #a1a1a1;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .left > .bottom > .card{
    background-color: #8a8a8a;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right > .top > .card{
    background-color: #8a8a8a;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right > .bottom > .card{
    background-color: #a1a1a1;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right-side > .top > .card{
    background-color: #b6b6b6;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right-side > .bottom > .card{
    background-color: #acacac;
    --bs-card-border-width: 0;
}

.btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}



/*Testimonial Section CSS*/
#testimonial{
    background-image: url('/Assets/banner-testimonial-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-color: #302951;
    background-blend-mode: overlay;
}

.testimonial{
    padding: 5rem;
}

.testimonial > .testimonial-mark{
    font-family: "PlayfairDisplay", serif;
    font-size: 6rem;
    font-weight: 900;
    color: #fff;
}

.testimonial .testimonial-content{
    margin-right: 5rem;
    font-family: "PlayfairDisplay", serif;
    color: #fff;
}

.testimonial .testimonial-by{
    font-family: Roboto;
    font-size: 30px;
    color: #fff;
}

.testimonial .quotion-by-position{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    color: #fff
}

.testimonial .carousel{
    width: 30rem;
}



/*Contact Section CSS */
#contact{
    margin-top: 3rem;
}

.contact-title{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin: 10px, 0px;
    font-weight: bold;
}

.form-control{
    height: 4rem;
}

.client-box{
  height: rem;
}

.client-box > .row > .col-3 > .client-logo{
  padding: 30px;
  align-items: center;
}
.client-box > .row > .col-2 > .client-logo{
  padding: 30px;
  align-items: center;
}


/* Footer Section CSS */
#footer{
    background-image: url('/Assets/banner-footer-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-color: #302951;
    background-blend-mode: overlay;
}

.footer-left-logo{
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-left-logo > .logo{
    height: 5rem;
    width: auto;   
}

.footer-left-logo > .logo-name{
    font-family: Roboto;
    font-weight: 100;
    color:#07c8c0;
    margin-left: 10px;
    font-size: 2rem;
}

.footer-left-content{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 50px;
}

.footer-left-links{
    display: flex;
    position: relative;
    gap: 2rem;
}

.footer-left-links > .links{
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
}

.studio{
    padding-top: 50px;
    padding-bottom: 30px;
}

.studio > .studio-title{
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
}

.studio > .studio-content > .studio-address{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.studio > .studio-content > .studio-address > .location-icon{
    margin-right: 1rem;
    color: #fff;
}

.studio > .studio-content > .studio-address > .studio-content-text{
    color: #fff;
    font-size: 1rem;
}

.studio > .studio-content > .studio-contact-number{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.studio > .studio-content > .studio-contact-number > .telephone-icon{
    margin-right: 1rem;
    color: #fff
}

.studio > .studio-content > .studio-contact-number > .studio-content-text{
    color: #fff;
    font-size: 1rem;
}

.news{
    padding-top: 50px;
    padding-bottom: 30px;
}

.news > .news-title{
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
}

.news-letter{
    display: flex;
    margin-top: 2rem;
    position: relative;
    height: 3rem;
}

.news-letter > .news-letter-input{
    width: 20rem;
    height: auto;
    background: transparent;
    border: solid 1px white;
    margin-right: 1rem;
}

.news-letter > .news-letter-input::placeholder{
    font-family: Roboto;
    color: #Fff;
    text-align: center;
}

.news-letter > .news-letter-logo{
    color: #000;
    height: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.copyright{
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    margin-top: 5rem;
    text-align: right;
}

.social-media-links{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.social-media-links > .social-media-logo{

    margin-right: 1rem;
}

