/* Importing Fonts */

/*PlayFair Display Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*
Main CSS 
*/

#navbar{
    position: absolute;
    z-index: 1;
    font-family: Roboto;
    font-weight: bolder;
    justify-content: center;
    width: 100%;
    background-color: #0000 !important;
}

.nav-logo{
  padding: 1rem;
}

.navbar-brand{
  padding: 4rem;
  
}

.navbar-brand > img{
    width: 50px;
    height: auto;
}

.navbar-brand > .logo-name{
    color: #07c8c0;
    font-weight: 100;
    font-size: 30px;
}

.nav{
    display: flex;
    position: relative;
    width: 45rem;
}

.hamburger-icon{
    display: none;
}

.nav-link{
    color: white;
    text-transform: uppercase;
    padding: 15px;
}

.navbar .nav-link:hover{
    color: #07c8c0;
}

.navbar .nav-link.active{
    color: #07c8c0;
}


/* Banner Body */
#banner{
    background-image: url('Assets/banner-background-image.png');
    background-size: cover;
    height: fit-content;
    background-repeat: no-repeat;
    background-color: #302951;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 3rem;
}


#banner > .container > .row > .col-12 > h1{
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
    padding: 3px;
    margin-top: 10rem;
}

#banner > .container > .row > .col-12 > .banner-separator{
    margin-bottom: 1rem;
}

#banner > .container > .row > .col-12 > p{
    color: #fff;
    font-size: 20px;
    
}

.btn-outline-primary {
   border-color: #07c8c0;
   color: #07c8c0;
   font-weight: bold;
   margin-top: 50px;
   font-size: 20px;
   padding: 15px;
}

.dot {
  height: 15px;
  width: 15px;
  border: solid 2px #bbbabc;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10rem;
}

.dot.active{
  background-color: #07c8c0;
  border: #0000;

}

/*About Section CSS*/
#about {
    margin-top: 5rem;
}

.about{
    margin-bottom: 2rem;
}

.about-logo{
    width: 18rem;
}

.about-title{
    font-family: "Playfair Display", serif;
}

.about-content{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
}

#play-button{
    background-image: url('/Assets/banner-city-background-image.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #302951;
    background-blend-mode: overlay;
    padding: 10rem;
}

.play-button-icon{
    width: 15%;
    height: auto;
    margin: auto;
    color: #fff;
    padding: 10px;
}

.play-button-text{
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    padding: 20px;
}



/*Expertise Section CSS */
#expertise{
    padding: 5rem;
}

.expertise-title{
    font-family: "Playfair Display", serif;
}

.expertise-description{
    font-family: "Playfair Display", serif;
    margin-bottom: 1px;
}

.expertise-separator{
    margin-bottom: 2rem;
}
.content > .row > .col-4{
    padding: 0%;
}

.left > .top-card > .card{
    border-top: #000;
    border-left: #000;
}

.left > .bottom-card > .card{
    border-bottom: #000;
    border-left: #000;
}

.center > .top-card > .card {
    border-top: #0000;
}

.center > .bottom-card > .card {
    border-bottom: #0000;
}


.right > .top-card > .card {
    border-top: #0000;
    border-right: #000;
}

.right > .bottom-card > .card {
    border-bottom: #0000;
    border-right: #000;
}

.card{
    border-radius: 0%;
    height: 15rem;
}

.card > .image-container{
    margin-top: 2rem;
   height: 1rem;
   padding: rem;
   width: auto;
}

.card > .image-container > img{
   height: 3rem;
   width: auto;
}

.card > .card-body{
    padding: 4rem;

}
.card > .card-body > .card-title{
    font-weight: bold;
    font-family: Roboto;
}

.card > .card-body > .card-text{
    color: #333333;
    font-weight: 300;
    font-family: Roboto;
}





/* Team Section CSS */
#team{
    background-image: url('/Assets/banner-team-background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    padding: 5rem;
    background-color: #302951;
    background-blend-mode: overlay;
}

.team{
    padding: 2rem;
}

.team > .team-title{
    font-family: "Playfair Display", serif;
    color: #fff;
}

.team > .team-description{
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 1px;
}

.team-card {
  width: 60rem; display: flex;
  position: relative;
  gap: 1rem;
}

.team-card > .col-4 > .card{
    background-color: #0000 !important;
    border-radius: 0%;
    height: 28rem;
    border: 1px solid #e7e7e7;
}

.team-card > .col-4 > .card > .team-picture{
    background-color: #f5f4f6;
    height: 20rem;
    border-color: #fff;
}

.team-card > .col-4 > .card > .card-body{
    background-color: #0000;
    padding: 2rem;
    height: 5px;
    border-color: #fff;
}

.team-card > .col-4 > .card > .card-body > .team-member-name{
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.team-card > .col-4 > .card > .card-body > .team-member-position{
    color: #fff;
}

.join{
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  margin-top: 2rem;

}

.col-12 .btn{
  margin-top: 2rem;
  padding: 15px;
  text-transform: uppercase;

}


/* Works Section CSS */
#works{
    margin-top: 5rem;
}

.works-title{
    font-family: "Playfair Display", serif;
    font: 25px;
    padding: 2rem;
}

.all-works-title{
    font-family: Roboto;
    font-weight: 100;
    font-size: 25px;
    padding: 2rem;
    text-align: right;
}

.works-content > .row > .col-3{
    padding: 0%;
}

.works-content > .row > .col-3 > .left-side > .top > .card{
    background-color: #acacac;
    --bs-card-border-width: 0;
    
}

.works-content > .row > .col-3 > .left-side > .bottom > .card{
    background-color: #b6b6b6;
    --bs-card-border-width: 0;


}
.works-content > .row > .col-3 > .left > .top > .card{
    background-color: #a1a1a1;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .left > .bottom > .card{
    background-color: #8a8a8a;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right > .top > .card{
    background-color: #8a8a8a;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right > .bottom > .card{
    background-color: #a1a1a1;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right-side > .top > .card{
    background-color: #b6b6b6;
    --bs-card-border-width: 0;
}

.works-content > .row > .col-3 > .right-side > .bottom > .card{
    background-color: #acacac;
    --bs-card-border-width: 0;
}

.btn{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/*Testimonial Section CSS*/
#testimonial{
    background-image: url('/Assets/banner-testimonial-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-color: #302951;
    background-blend-mode: overlay;
}

.testimonial{
    padding: 1rem;
}

.testimonial > .testimonial-mark{
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.testimonial .testimonial-content{
    margin-right: 5rem;
    font-family: "PlayfairDisplay", serif;
    font-size: 25px;
    color: #fff;
}

.testimonial .testimonial-by{
    font-family: Roboto;
    padding-top: 3rem;
    font-size: 25px;
    color: #fff;
}

.testimonial .quotion-by-position{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    color: #fff
}

.testimonial-pic{
  display: inline-block;
  position: relative;
}


.testimonial-pic > .pictures{
  padding: 1rem;
}


.testimonial-pic > .arrow-head{
  padding: 1rem;
  color: #acacac;
  font-weight: 100;
}



/*Contact Section CSS */
#contact{
    margin-top: 3rem;
}

.contact-title{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin: 10px, 0px;
    font-weight: bold;
}

.form-control{
    height: 4rem;
}

.client-box{
  height: rem;
}

.client-box > .row > .col-3 > .client-logo{
  padding: 30px;
  align-items: center;
}
.client-box > .row > .col-2 > .client-logo{
  padding: 30px;
  align-items: center;
}


/* Footer Section CSS */
#footer{
    background-image: url('/Assets/banner-footer-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-color: #302951;
    background-blend-mode: overlay;
}

.footer-left-logo{
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-left-logo > .logo{
    height: 5rem;
    width: auto;   
}

.footer-left-logo > .logo-name{
    font-family: Roboto;
    font-weight: 100;
    color:#07c8c0;
    margin-left: 10px;
    font-size: 2rem;
}

.footer-left-content{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 2rem;
    margin-bottom: 50px;
}

.footer-left-links{
    display: flex;
    position: relative;
    gap: 2rem;
}

.footer-left-links > .links{
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
}

.studio{
    padding-top: 50px;
    padding-bottom: 30px;
}

.studio > .studio-title{
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
}

.studio > .studio-content > .studio-address{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.studio > .studio-content > .studio-address > .location-icon{
    margin-right: 1rem;
    color: #fff;
}

.studio > .studio-content > .studio-address > .studio-content-text{
    color: #fff;
    font-size: 1rem;
}

.studio > .studio-content > .studio-contact-number{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.studio > .studio-content > .studio-contact-number > .telephone-icon{
    margin-right: 1rem;
    color: #fff
}

.studio > .studio-content > .studio-contact-number > .studio-content-text{
    color: #fff;
    font-size: 1rem;
}

.news{
    padding-top: 50px;
    padding-bottom: 30px;
}

.news > .news-title{
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
}

.news-letter{
    display: flex;
    margin-top: 2rem;
    position: relative;
    height: 3rem;
}

.news-letter > .news-letter-input{
    width: 20rem;
    height: auto;
    background: transparent;
    border: solid 1px white;
    margin-right: 1rem;
}

.news-letter > .news-letter-input::placeholder{
    font-family: Roboto;
    color: #Fff;
    text-align: center;
}

.news-letter > .news-letter-logo{
    color: #000;
    height: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.social-media-links{
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.social-media-links > .social-media-logo{
    margin-right: 1rem;
}

.copyright{
    color: #fff;
    font-family: Roboto;
    font-size: 1rem;
    margin-top: 8rem;
    text-align: right;
}

@media (max-width: 1024px){

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row {
        width: 100%;
        align-items: center;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-5{
        display: flex;
        width: 50%;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .nav-logo{
        text-align: left;
        width: 50%;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-7{
        width: 50%;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-7 > .hamburger-icon{
        display: flex;
        width: 15%;
        color: white;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-7 > .nav{
        display: none;
    }

    #banner{
        width: 100%;
        height: fit-content;
    }

    #banner > .container > .row > .col-12{
        padding: 3rem;
    }

    #about > .container > .row > .col-12 > .about > .row > .col-5{
        display: flex;
        align-items: center;
        width: 40%;
    }

    #about > .container > .row > .col-12 > .about > .row > .col-7{
        width: 60%;
    }


    #play-button{
        width: 100%;
    }

    #play-button > .container > .row  > .col-12 > .play-button-icon{
        width: 30%;
    }

    #expertise{
        width: 100%;
        padding: rem;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4{
        width: 100%;
        padding: 0%;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center{
                display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .top-card{
        padding-bottom: 20px;
        margin-right: 10px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .top-card{
      padding-bottom: 20px;
      margin-right: 10px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .top-card{
      padding-bottom: 20px;
      margin-right: 10px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
    
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
    
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #team{
        width: 100%;
        height: fit-content;
    }

    #team > .container > .row > .col-12{
        width: 100%;
    }

    #team > .container > .row > .col-12 > .card-group{
        width: 100%;
        justify-content: center;
    }
    
    #team > .container > .row > .col-12 > .card-group > .row{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #team > .container > .row > .col-12 > .card-group > .row > .team-card{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    #team > .container > .row > .col-12 > .card-group > .row > .team-card > .col-4{
        width: 50%;
    }
    #team > .container > .row > .col-12 > .card-group > .row > .team-card > .col-4 > .card > .team-picture{
        width: 100%;
        height: 60%;
    }


    #works{
        width: 100%;
    }

    #works > .container > .row > .col-12 > .row > .col-6 > .all-works-title{
        font-size: 23px;
    }

    #testimonial{
        width: 100%;
        height: fit-content;
    }

    #testimonial > .container > .row > .col-12 > .testimonial > .testimonial-content{
        padding: 0%;
        margin: 0%;
    }

    #testimonial > .container > .row > .col-12 > .row .col-3{
        width: 0%;
    }
    #testimonial > .container > .row > .col-12 > .row .col-6{
        width: 100%;
        margin-bottom: 3rem;
    }

    #contact{
        width: 100%;
    }

    #contact > .container > .row > .col-12 > .row > .col-6 > .container > .client-box > .row{
        width: 100%;
    }
    #contact > .container > .row > .col-12 > .row > .col-6 > .container > .client-box > .row .col-3{
        width: 50%;
    }
}

@media (max-width: 767px){

    /*-------------------------------------
    Navigation Section
    -------------------------------------*/
    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row {
        width: 100%;
        align-items: center;
    }

    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-5{
        text-align: right;
        width: 50%;
    }
    #navbar > .container > .row > .col-12 > .navbar > .container-fluid > .row > .col-7{
        width: 50%;
    }

    .navbar-brand{
        display: flex;
        align-items: center;
    }
    

    .nav-link{
        display: none;
    }
    .navbar-brand > img{
        width: 50px;
        height: auto;
        margin: 0%;
    }

    .hamburger-icon{
        display: flex;
        color: white;
        width: 20%;
    }

    /*-------------------------------------
    Banner Section
    -------------------------------------*/
    #banner > .container > .row > .col-12 > h1{
        font-size: 35px;
        padding: 10px;
    }

    #banner > .container > .row > .col-12 > p{
        font-size: 15px;
        padding: 20px;
    }

    .btn-outline-primary{
        font-size: 15px;
    }

    .dot{
        margin-top: 1px;
        height: 10px;
        width: 10px;
    }


    /*-------------------------------------
    About Section
    -------------------------------------*/
    #about > .container > .row > .col-12 > .about > .row > .col-5{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #about > .container > .row > .col-12 > .about > .row > .col-7{
        width: 100%;
        text-align: center;

    }
    
    #about > .container > .row > .col-12 > .about > .row > .col-7 > .about-title{
        text-align: center;
        padding: 1rem;
    }
    
    #about > .container > .row > .col-12 > .about > .row > .col-7 > .about-content{
        text-align: center;
        padding: 1rem;
    }

    #about > .container > .row > .col-12 > .about > .row > .col-7 > .button{
        padding: auto;
    }

    
    /*-------------------------------------
    Play-Button Section
    -------------------------------------*/
    #play-button{
        width: 100%;
        padding: 5rem;
    }
    
    #play-button > .container{
        width: 100%;
    }

    #play-button > .container > .row > .col-12.text-center{
        width: 100%;
    }

    .play-button-icon{
        width: 70%;
    }


    /*-------------------------------------
    Expertise Section
    -------------------------------------*/

    #expertise{
        width: 100%;
        padding: rem;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4{
        width: 100%;
        padding: 0%;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .top-card{
      padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .top-card{
      padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .top-card{
      padding-bottom: 20px;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .left > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
    
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .center > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }
    
    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .top-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    #expertise > .container > .row > .col-12 > .row > .card-group > .content > .row > .col-4 > .right > .bottom-card > .card{
        width: 100%;
        height: 20rem;
        display: flex;
        display: inline-block;
        align-items: center;
        border-left: 1px solid #000000 !important;
        border-right: 1px solid #000 !important;
        border-top: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }


    #team{
        width: 100%;
        height: fit-content;
    }

    #team > .container > .row > .col-12{
        width: 100%;
    }

    #team > .container > .row > .col-12 > .card-group{
        display: flex;
        justify-content: center;
    }

    #team > .container > .row > .col-12 > .card-group > .row > .team-card{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #team > .container > .row > .col-12 > .card-group > .row > .team-card > .col-4{
        width: 100%;
    }

    #team > .container > .row > .col-12 > .card-group > .row > .team-card > .col-4 > .card{
        background-color: red;
    }

    #works{
        width: 100%;
    }

    #works > .container > .row > .col-12 >.row > .col-6 > .works-title {
        font-size: 25px;
    }

    #works > .container > .row > .col-12 >.row > .col-6 > .all-works-title{
        font-size: 15px;
        text-align: left;
    }


    #testimonial{
        width: 100%;
        height: fit-content;
    }

    #testimonial > .container > .row > .col-12 > .testimonial{
        width: 100%;
        text-align: center;
    }

    #testimonial > .container > .row > .col-12 > .testimonial{
        width: 100%;
        text-align: center;
    }
    
    #testimonial > .container > .row > .col-12 > .testimonial > .testimonial-mark{
        width: 5%;
        text-align: center;
    }

    #testimonial > .container > .row > .col-12 > .testimonial > .testimonial-content{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    #testimonial > .container > .row > .col-12 > .row > .col-6{
        width: 100%;
        text-align: center;
        font-size: 25px;

    }
    #testimonial > .container > .row > .col-12 > .row > .col-6 > .testimonial-pic{
        width: 30px;
        padding: 6% ;

    }
    #testimonial > .container > .row > .col-12 > .row > .col-6 > .arrow-head{
        font-size: 20px;
    }

    #contact{
        width: 100%;
        padding: 20px;
    }

    #contact > .container > .row > .col-12 > .row > .col-6{
        width: 100%;
    }

    #contact > .container > .row > .col-12 > .row > .col-6 > .container > .client-box > .row > .col-3{ 
        width: 50%;
    }


    #footer{
        width: 100%;
        height: fit-content;
        padding: 20px;
    }

    #footer > .container > .row > .col-12 > .footer > .row > .col-4{
        width: 100%;
    }
}
